
.ipynb_checkpoints/arithmetic-checkpoint.py
.ipynb_checkpoints/PerformanceComparisonExperiment-checkpoint.ipynb
.ipynb_checkpoints/test-checkpoint.py
.ipynb_checkpoints/untitled-checkpoint.py
.ipynb_checkpoints/untitled-checkpoint.txt
*.pyc
