
.ipynb_checkpoints/arithmetic-checkpoint.py
.ipynb_checkpoints/PerformanceComparisonExperiment-checkpoint.ipynb
.ipynb_checkpoints/test-checkpoint.py
.ipynb_checkpoints/untitled-checkpoint.py
.ipynb_checkpoints/untitled-checkpoint.txt
*.pyc
experiments/.ipynb_checkpoints/experiment-map-vs-list-comp-vs-lambda-list-comp-checkpoint.ipynb
testcases/.ipynb_checkpoints/externaltestcases-checkpoint.py
testcases/.ipynb_checkpoints/basictestcases-checkpoint.py
